.realHome {
    
    margin-top: 210px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;

    text-align: center;
  
    min-height: 1 rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    
    background: linear-gradient(90deg, orange, purple, #cbc3e3,red);;
    background-clip: text;
    color: transparent;
    background-size: 300%;
    transition: background-position 10s;
    animation: open-animation 15s infinite;

}

.realHome:hover{
    background-clip: text;
    color: linear-gradient(225deg, grey, lightgrey);

}

.Here {
    
    margin-top: 15px;
    margin-bottom: 5px;

    /* margin-top: 5px;
    margin-bottom: 1px; */
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;

    text-align: center;
  
    min-height: 1 rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    
    background: linear-gradient(90deg, orange, purple, #cbc3e3,red);;
    background-clip: text;
    color: transparent;
    background-size: 300%;
    transition: background-position 10s;
    animation: open-animation 15s infinite;

}

.Body {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: white;
    text-align: center;
    background-clip: text;
}

.Button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@keyframes open-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
    
    }


.Here:hover{
    background-clip: text;
    color: linear-gradient(225deg, grey, lightgrey);
    /* cursor: pointer; */
}

/* Rings for the home page */

.forAll {
    text-align: center;
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        margin-top: 170px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}
.container .ring {
position: relative;
width: 150px;
height: 150px;
margin: -30px;
border-radius: 50%;
/**/
border: 4px solid transparent;
border-top: 4px solid #242fff;
animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #242fff;
    box-shadow: 0 0 0 5px #242fff33,
    0 0 0 10px #242fff22,
    0 0 0 20px #242fff11,
    0 0 20px #242fff,
    0 0 50px #242fff;
/* 24ecff, 24ecff33, then 22, 11... then 24ecff*/
}

.container .ring:nth-child(2) {
    animation: animate2 4s linear infinite;
    animation-delay: -1.5s;
    border-top: 4px solid transparent;
    border-left: 4px solid #ffea2d;
}

.container .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;

/* Mod part*/
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
    background: #ffea2d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #ffff2d22,
    0 0 0 20px #ffff2d11,
    0 0 20px #ffea2d,
    0 0 50px #ffea2d;
    transition: 3s;
    }


@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(3)
{
    
    position: absolute;
    margin-left: 15px;
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    top: -66.66px;
    border-top: 4px solid transparent;
    border-left: 4px solid #f81c1c;
    

}

.container .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f81c1c;
    box-shadow: 0 0 0 5px #e41cf833,
    0 0 0 10px #f81c1c22,
    0 0 0 20px #e41cf811,
    0 0 20px #f81c1c,
    0 0 50px #f81c1c;

    /* animation-iteration-count:initial; */
    }

.container p
{
    position:absolute;
    color:#fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
}

.container .ring:nth-child(3):hover {
    animation: animate3Faster 2s linear infinite;
}


@keyframes animate3Faster {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(2):hover {
    animation: animate2Faster 2s linear infinite;
}

@keyframes animate2Faster {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container .ring:nth-child(1):hover {
    animation: animate1Faster 2s linear infinite;
}

@keyframes animate1Faster {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}