/* .Products {
    margin-top: 20px;
    background-color: white;
    color: black;
    justify-content: center;
    text-align: center;
    justify-items: center;

    background-clip: text;
    color: transparent;

}


.Title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
}

.Description {
    font-family: Haettenschweiler;
    color: white;
    font-size: 1.5em;
}

#Search {
    margin-top: 20px;
    padding-left: 65px;
} */

.Products {
    margin-top: 20px;
    background-color: white;
    color: black;
    justify-content: center;
    text-align: center;
    justify-items: center;

    background-clip: text;
    color: transparent;

}


.Title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5em;
}

.Description {
    font-family: Haettenschweiler;
    color: white;
    font-size: 1.5em;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-body {
    box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
}

.card {
    margin: 20px 10px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.card-body a {
    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
 

}

.card-body a:hover {
    color: #63a6b0;
    text-decoration: none;
}

.Here {
    
    margin-top: 5px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;

    text-align: center;
  
    min-height: 1 rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    
    background: linear-gradient(90deg, orange, purple, #cbc3e3,red);;
    background-clip: text;
    color: transparent;
    background-size: 300%;
    transition: background-position 10s;
    animation: open-animation 10s infinite;

}

.Here:hover{
    background-clip: text;
    background-color: linear-gradient(225deg, grey, lightgrey);
    color: transparent;
    background-size: 300%;
    cursor: pointer;
}